/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover,
nav a:focus {
     border: 2px dotted purple;
}

/*Write selector/rule property to position the default position for the skip class element*/
.skip a {
     position: absolute;
     top: -65px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus {
     top: 25px;
}

/*Write selector/rule property to style all elements when in focus*/
*:focus {
  border: 5px dashed green;
}


/*Write selector/rule property to style the container */
.container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 13px;
}

/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container>div:first-child {
     background-image: url('../images/header.jpg');
     grid-column: 1 / -1;
}

/* Make these sections begin in column 2 and span 3 columns (columns 2-4) */
.accounts,
.onlinebanking,
.security,
.loans,
.contact {
     grid-column-start: 2;
     grid-column-end: 5;
}



/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

.accounts {
     grid-row-start: 2;
}

.onlinebanking {
     grid-row-start: 3;
}

.security {
     grid-row-start: 4;
}

.loans {
     grid-row-start: 5;
}

.contact {
     grid-row-start: 6;
}

.accounts-image,
.onlinebanking-image,
.security-image,
.loans-image,
.contact-image {
  grid-column: 1 / -1;
  max-height: 675px;
}

.accounts-image {
  grid-row-start: 2;
}

.onlinebanking-image {
  grid-row-start: 3;
}

.security-image {
  grid-row-start: 4;
}

.loans-image {
  grid-row-start: 5;
}

.contact-image {
  grid-row-start: 6;
}

.accounts-image img,
.onlinebanking-image img,
.security-image img,
.loans-image img,
.contact-image img {
  width: 100%;
  height: 100%;
  max-height: 675px;
}
 /* Step 8: Write the selector/rule property to style the .text-block class. */
.text-block {
     align-items: center;
     margin: auto;
     text-align: center;
}

.text-block ol,
.text-block ul {
     text-align: left;
}

/* Add your media query here */
@media screen and (min-width: 825px) {


  /* Step 10: Write the selector/rule property to style the nav element */

nav {
    text-align: right;
    padding: 35px 0;
  }

  /* Step 11: Write the selector/rule property to update the .container class */
.container {
    grid-template-columns: repeat(7, 1fr);
}

/* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/
.accounts,
.security,
.contact {
     grid-column-start: 4;
     grid-column-end: 7;
}
.onlinebanking,
.loans {
     grid-column-start: 2;
     grid-column-end: 5;
}

.accounts-image,
.security-image,
.contact-image {
     grid-column-start: 1;
     grid-column-end: 6;
}

.onlinebanking-image,
.loans-image {
     grid-column-start: 3;
     grid-column-end: 8;
}


 /* Step 16:Write the selector/rule property to update the .text-block class */
.text-block {
          max-height: 235px;
          overflow:scroll;
     }
}
